<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">

    <script src="javascripts/react.js"></script>
    <script src="javascripts/react-dom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>

    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDkhV_f2Ju9rFn_V7EX5B8oCK0K_sCKcp8">
    </script>
</head>
<body>

<div id="main">
    <div id="mainheader"><h1 id="headerexplore">
        EXPLORE LIFEQUALITY IN CITIES</h1>
        <h4 id="dritteheader"> SEARCH AN AREA IN </h4>
        <h3 id="secondheader">Berlin | New York | London | Chicago | San Francisco</h3>
    </div>


    <section id="reactdata"></section>

</div>

<script src="javascripts/jquery-3.1.1.min.js"></script>
<script src="javascripts/googleStreet.js"></script>
<script src="javascripts/youtubeApi.js"></script>

<script src="javascripts/effects.js"></script>
<script type="text/babel" src="javascripts/mainReact.js"></script>
</body>
</html>
